</div>
<div class="vertical-spacing"></div>
<div class="footer-padding"></div>
<div class="footer">
  <div class="container">
    <div class="vertical-spacing"></div>
    <div class="row">
      <div class="col-md-4 footer-column">
        <h2>About Us</h2>
        <div class="vertical-spacing"></div>
        <div class="footer-heading">
          <a href="#">Our Beginning</a>
          <a href="#">Our Misson</a>
        </div>
      </div>
      <div class="col-md-4 footer-column">
        <h2>Social Media</h2>
        <div class="vertical-spacing"></div>
        <div class="footer-heading">
          <a href="#">Instagram</a>
          <a href="#">Facebook</a>
        </div>
      </div>
      <div class="col-md-4 footer-column">
        <h2>Something Else</h2>
        <div class="vertical-spacing"></div>
        <div class="footer-heading">
          <a href="#">The first link</a>
          <a href="#">Other apps that are better than us</a>
        </div>
      </div>
    </div>
    <div class="vertical-spacing"></div>

    <p class="footer-copyright">© 1996-<%= new Date().getFullYear()-%> FinanceTracker.Inc</p>
    <div class="vertical-spacing"></div>
  </div>
</div>
</div>
</body>

</html>