<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Finance Tracker</title>

  <!-- import Strait font from google -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Strait&display=swap" rel="stylesheet">

  <!-- bootstrap styles and local stylesheet -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">

  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

  <!-- Add viewport meta tag for responsiveness -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <!-- Add a collapsible navigation button -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/">
          <img class="navbar-brand" src="img/logo.png" height="150">
        </a>
        <a href="/">
          <p class="navbar-brand">Finance Tracker</p>
        </a>
      </div>

      <!-- Add a collapse container for the navigation links -->
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li id="points"><a href="/home">Home</a></li>
          <li id="planning"><a href="/planning">Planning</a></li>
          <li id="community"><a href="/community">Community</a></li>
          <li id="recommendation"><a href="/recommendation">Recommendation</a></li>
          <li id="EnterExpenses"><a href="/enter-expenses">Enter Expenses</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container page-content-section">
    <!-- page content goes here -->
