
<%- include("partials/header"); -%>

<!-- <script src="/scripts/savings-plan.js"></script> -->

<div class="container">
  <h1>Please input your informations below to get the best card recommendation!</h1>

  <div class="vertical-spacing"></div>

  <h2>Enter Your Monthly Salary</h2>

  <form >
    <div class="form-group">
      <input type="number" step="any" class="form-control grey-input" name="monthlySalary" id="monthlySalary" placeholder="Monthly Salary" required>
    </div>

    <h2>Enter Your Average Monthly Expenditure</h2>

    <div class="form-group">
      <input type="number" step="any"  class="form-control grey-input" id="monthlyExpenditure" name="monthlyExpenditure" placeholder="Monthly Expenditure" required>
    </div>

    <h2>Which Of The Following Do You Spend The Most On?</h2>

    <select name="select1" id="select1" class="form-control grey-input">
      <option value="General Spending">General Spending</option>
      <option value="Overseas Transaction">Overseas Transaction</option>
      <option value="Transport">Transport</option>
      <option value="Online Shopping">Online Shopping</option>
      <option value="Dinning">Dinning</option>
      <option value="Food Delivery">Food Delivery</option>
    </select>

    <p> The value of the option selected is:
      <span class="output"></span>
  </p>
    <br>
    <br>
    
    <!-- <script src="/scripts/cards.js"></script> -->
    <button onclick="getOption()" class="btn btn-success btn-block"  >Get A Recommendation Now!</button>
    <script type="text/javascript">
      function getOption() {
            selectElement = document.querySelector('#select1');
            output = selectElement.options[selectElement.selectedIndex].value;
            document.querySelector('.output').textContent = output;
        }
      </script>
  </form>
</div>

<%- include("partials/footer"); -%>
