<%- include("partials/header"); -%>

<p1>
    <h3>This Seems Like The Best Option For You!</h3>
    <p>
        <br>
        <img src="img/cimb.jpg" width="300" height="200">
        <br>
        CIMB World Mastercard
    </p>
    <p>
        <pre>
3% CashBack (T&C applies):                            Min. spend per month to qualify for 2% Cashback:      CashBack Cap:
Wine & Dine, Online Food Delivery, Movies, ect.       $500                                                  No Cap          
            </pre>
    </p>
</p1>

<br>
<br>

<div class="col-md-6">
    <a href="/cardRec" class="btn btn-success btn-block btn-space btn-custom">Click here for a revaluation!</a>
</div>

<%- include("partials/footer"); -%>
