<%- include("partials/header"); -%>


        <div class="carousel-slideshow">

            <img src="img/carousel-img1.jpg" width=100% alt="About Expense Tracker">
            <img src="img/carousel-img2.jpg" style="width:100%">
            <img src="img/carousel-img3.jpg" style="width:100%">
            <img src="img/carousel-img4.jpg" style="width:100%">
            <img src="img/carousel-img5.jpg" style="width:100%">

        </div>
        
        <div class="articles">
            <h1>Mastering Money: Saving Tips Inside</h1>
            <br />
            <a href="https://blog.seedly.sg/seedly-money-framework-personal-finance-planning-guide/">
                <img class="article-img1" src="img/article1.jpg"  alt="Seedly Article">
                <div class="article-overlay">
                    <div class="article-img-text">Seedly Money Framework</div>
                </div>
            </a>
            <br />
            <a href="https://content.mycareersfuture.gov.sg/much-enough-5-sporeans-share-much-save-paycheck/">
                <img class="article-img2" src="img/article2.jpg"  alt="Seedly Article">
                <div class="article-overlay">
                    <div class="article-img-text">How 5 S'poreans Manage Their Finances</div>
                </div>
            </a>
            <br />
            <a href="https://www.dbs.com.sg/personal/articles/nav/financial-planning/ways-how-to-save-more-money-in-singapore">
                <img class="article-img3" src="img/article3.jpg"  alt="Seedly Article">
                <div class="article-overlay">
                    <div class="article-img-text">5 everyday tips on saving money</div>
                </div>
            </a>
        </div>


    <%- include("partials/footer"); -%>
