<%- include("partials/header"); -%>

    <!DOCTYPE html>
    <html>

    <head>
    </head>
        <link rel="stylesheet" href="/css/styles.css">
    <body>
        <div class="carousel-slideshow">

            <img src="img/carousel-img1.jpg" width=100% alt="About Expense Tracker">
            <img src="img/carousel-img2.jpg" style="width:100%">
            <img src="img/carousel-img3.jpg" style="width:100%">
            <img src="img/carousel-img4.jpg" style="width:100%">
            <img src="img/carousel-img5.jpg" style="width:100%">

        </div>
        <br />
        <div class="articles">
            <h1>Mastering Money: Saving Tips Inside</h1>
            <br />
            <a href="https://blog.seedly.sg/seedly-money-framework-personal-finance-planning-guide/">
                <img class="article-img1" src="img/article1.jpg"  alt="Seedly Article">
            </a>
            <br />
            <a href="https://www.nytimes.com/2023/01/20/business/saving-money-inflation-economy.html">
                <img class="article-img2" src="img/article2.jpg"  alt="Seedly Article">
            </a>
            <br />
            <a href="https://www.dbs.com.sg/personal/articles/nav/financial-planning/ways-how-to-save-more-money-in-singapore">
                <img class="article-img3" src="img/article3.jpg"  alt="Seedly Article">
            </a>
        </div>
    </body>

    </html>


    <%- include("partials/footer"); -%>