<%- include("partials/header"); -%>

<div class="container">
  <h1>Financial Planning and Guidance</h1>

  
  <div class="vertical-spacing"></div>
  <div class="vertical-spacing"></div>

  <div class="row">
    <div class="col-md-6">
      <a href="/savings-plan" class="btn btn-success btn-block btn-space btn-custom">Create a Savings plan</a>
    </div>
    <div class="col-md-6">
      <a href="/projection" class="btn btn-success btn-block btn-space btn-custom">Inflation expense projection</a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <a href="/" class="btn btn-success btn-block btn-space btn-custom">Recomendaions based on spending habbits</a>
    </div>
    <div class="col-md-6">
      <a href="/" class="btn btn-success btn-block btn-space btn-custom">Projected savings for the month</a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <a href="/" class="btn btn-success btn-block btn-space btn-custom">Recomended credit cards</a>
    </div>
    <div class="col-md-6">
      <a href="/" class="btn btn-success btn-block btn-space btn-custom">Projected date to savings target</a>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
