<%- include("partials/header"); -%>

<h2>Projected Savings for the Month</h2>

<!-- Box for Target Savings -->
<div class="box" id="targetSavingsBox">

  <!-- Content for Target Savings goes here -->
</div>

<!-- Box for Current Savings -->
<div class="box" id="currentSavingsBox">

  <!-- Content for Current Savings goes here -->
</div>

<!-- Box for Savings Progress -->
<div class="box" id="savingsProgressBox">

  <!-- Content for Savings Progress goes here -->
</div>

<script src="/scripts/projected-savings.js"></script>

<%- include("partials/footer"); -%>
