<%- include("partials/header"); -%>

<h1>Welcome to our <b>recommendation</b></h1>
<br>
<div class="col-md-6">
    <a href="/cardRec" class="btn btn-success btn-block btn-space btn-custom">Click here to get a recommendation now!</a>
</div>
<br>
<br>
<br>
<br>
<h2><u>Below you will find the best* Credit Cards for each catagory</u></h2>

<br>
<br>


<p1>
    <h3>Best CashBack Credit card</h3>
    <p>
        <br>
        <img src="img/citibank.jpg" width="300" height="200">
        <br>
        Citi Cash Back+ Mastercard®
    </p>
    <p>
        <pre>
Minimun Spend per Month:      Avaliable CashBack:      CashBack Cap:
$0                            1.6%                     No Cap
        </pre>
    </p>
</p1>

<br>
<br>

<p2>
    <h3>Best Air Miles Credit card</h3>
    <p>
        <br>
        <img src="img/sc.jpg" width="300" height="200">
        <br>
        Standard Chartered Journey Credit Card
    </p>
    <p>
        <pre>
Miles for Local Spending:      Miles for Overseas Spending:      Miles for Spendings on Transport, Food Delivery and Online Grocerys:
$1 Spent = 1.2 Miles           $1 Spent = 2 Miles                $1 Spent = 3 Miles     
            </pre>
    </p>
</p2>

<br>
<br>

<p2>
    <h3>Best Dining Credit card</h3>
    <p>
        <br>
        <img src="img/cimb.jpg" width="300" height="200">
        <br>
        CIMB World Mastercard
    </p>
    <p>
        <pre>
3% CashBack (T&C applies):                            Min. spend per month to qualify for 2% Cashback:      CashBack Cap:
Wine & Dine, Online Food Delivery, Movies, ect.       $500                                                  No Cap          
            </pre>
    </p>
</p2>




<!-- <iframe width="400" height="300" src="https://www.youtube.com/watch?v=KYDpxoBwil8">
</iframe> -->

<!-- <iframe width="400" height="345" src="https://www.youtube.com/watch?v=lyFYq_8CeEE">
</iframe> -->

<%- include("partials/footer"); -%>
